body{ /* FLEX COLUMN */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #EBEBEB;
    font-family: 'Poppins', sans-serif;
    background-color: #EBEBEB;
}

.myP{
    display: inline;
}

.myP .desc{
    display: block;
}

i{
    color: #F4C36C;
}

/* DEBUG */
/* div, header {
    border: 1px solid white;
} */

/* NAV BAR */
header{
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo{
    width: 200px;
}

.icons{ /* Search Icon */
    height: 25px;
}

.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 20px;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    -webkit-box-shadow: 0px 0px 30px 1px rgba(208, 208, 208, 0.5);
    -moz-box-shadow: 0px 0px 30px 1px rgba(208, 208, 208, 0.5);
    box-shadow: 0px 0px 30px 1px rgba(208, 208, 208, 0.5);
}

.searchInput{
    padding: 20px;
    color: #BAB9B9;
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
}

/* MAIN CONTENT */


.content{
    margin-top: 50px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-between;
}

.main{
    position: relative;
    padding: 20px 60px;
    width: 100%;
    height: 100vh;
}

/* Div Left */
.div1{
    width: 30%;
    padding: 20px;
}

.mainContent{
    display: flex;
    flex-direction: column;
}

.h1{
    line-height: 1.4em;
    font-size: 46px;
    font-weight: 500;
    margin-bottom: 40px;
    color: white;
}

.stars{
    margin-top: 20px;
    margin-bottom: 10px;
}

.myBtn{
    margin-top: 40px;
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #E95863;
}

/* Div Right */
.div2{
    position: absolute;
    right: 0;
    bottom: 5%;
    width: 700px;
    padding: 20px;
    overflow-x: scroll;
}

#movies, #tv{
    display: flex;
}

.box{
    flex-shrink: 0;
    position: relative;
    margin: 5px;
    height: 275px;
    width: 185px;
    border-radius: 8px;
    overflow: hidden;

}

.immagine{
    height: 100%;
    
}

.darkBox{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    transition: ease-in-out 310ms;
    opacity: 0%;
    cursor: pointer;
}

.darkBox:hover{
    transition: ease-in-out 310ms;
    opacity: 100%;
}

.h2{
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 0;
}

.darkBox .stars{
    margin-top: 0px;
    margin-bottom: 0px;
}

.darkBox .stars i, .darkBox .stars .myP{
    font-size: 10px;
}


/* CHOOSE */
.choose{
    position: absolute;
    bottom: 0;
    left: 60px;
    display: flex;
}

.scelta{
    color: #BAB9B9;
    margin-right: 10px;
    padding: 10px 20px;
    background-color: rgba(215, 215, 215, 0.2);
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
}

.nonscelto{
    opacity: 40%;
}

.h3{
    font-size: 18px;
}

.container{
    width: 300px;
    height: 400px;
}